.react-datalist-input__textbox-option {

    width: "100" !important;
    border: 0px;
    list-style-type: none;
}

.inputStyle .input {
    border: none !important;
}

.react-datalist-input__textbox {
    border: none !important;
}

.react-datalist-input__container {
    border: none !important;
}