/* .container {
    width: 50px;
    height: 100px;
    background-color: #0a0a23;
}

.container img {
    width: 50px;
    margin: auto;
    display: block;
} */

.imgStyle {
    width: 100px;
}

.homeStyle {
    background-color: red;
    color: yellow;
}

.h-header {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    color:yellow;
    font-size: 80px;
  }

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

